<h4>Items</h4>

<%= render :partial => 'errors', :locals => {:item => @item} %>

<br/><br/>
<%= render :partial => 'form', :locals => {:item => @item} %>
<br/>

<ul>
<% @items.each do |item| %>
  <li><%= link_to(item.user.handle, "/users/#{item.user.id}") %>: <%= item.body %></li>
		<%= image_tag item.photo.url(:medium) %>

<% end %>
</ol>